<div class="show-image-content">
  <div class="show-image-controls">
    <div class="row">
      <label for="user-select" style="white-space: nowrap;">
        {{localize "show-image.select-user"}}
      </label>
      <select id="user-select">
        <option class="all-option" value="ALL">{{localize "show-image.all-users"}}</option>
        {{#each users}}
          <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
      <button id="btn-add-image" type="button">
        {{localize "show-image.add-image"}}
      </button>
    </div>
    <div class="row input-row">
      <input
        type="text"
        id="image-url"
        placeholder="{{localize 'show-image.insert-image'}}"
      />
      <button
        id="btn-file-picker"
        type="button"
        class="file-picker"
        data-type="imagevideo"
      >
        <i class="fas fa-file-import fa-fw"></i>
      </button>
    </div>
  </div>

  <div id="images-list" class="images-container">
    {{#each imageUrl}}
      <div class="image-box" data-index="{{@index}}">
        <span>{{localize "show-image.image"}} {{math @index "+" 1}}</span>
        <div class="image-preview">
          <img src="{{this}}" class="thumb-image" title="{{localize 'show-image.image'}}" />
          <span class="image-link">{{this}}</span>
        </div>
        <button
          class="btn-remove-image"
          data-index="{{@index}}"
          type="button"
        >X</button>
      </div>
    {{/each}}
  </div>

  <div class="show-image-actions">
    <button id="btn-show-image" type="button">
      {{localize "show-image.send-image"}}
    </button>
    <button id="btn-show-all" type="button">
      {{localize "show-image.show-all"}}
    </button>
  </div>
</div>